@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
  background: url('/img/background-animated.gif') no-repeat center center fixed;
  background-size: cover;
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 500px; 
  width: 90%; 
  margin: 100px;
  padding: 20px; 
  background-color: rgba(255, 255, 255, 0.8); 
  border: 2px solid #ffcc00; 
  border-radius: 15px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  position: relative;
  margin-left: 50px;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive; 
  font-size: 2.5em;
  color: #004aad; 
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  animation: shadowPulse 2s infinite alternate; 
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); 
}

/* Animação da sombra do h1 */
@keyframes shadowPulse {
  0% {
    text-shadow: 2px 2px 8px #004aad; 
  }
  50% {
    text-shadow: 2px 2px 8px #c1ff72;
  }
  100% {
    text-shadow: 2px 2px 8px #ff8c00; 
  }
}

/* Estilizando a lista */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgba(255, 255, 255, 0.9); 
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #004aad; 
}

/* Estilo dos botões */
button {
  margin-left: 10px;
  background-color: #ffaff9; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 8px 12px; 
  cursor: pointer; 
}

/* Estilo para o botão de adicionar tarefa */
button.submit-button {
  background-color: #004aad;
}

/* Efeito ao passar o mouse sobre os botões */
button:hover {
  background-color: #004bad61; 
}

/* Estilizando o campo de input */
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #004aad; 
  border-radius: 5px;
  width: 70%; 
  margin-right: 10px; 
}

/* Efeito de riscar tarefa completada */
.completed {
  text-decoration: line-through;
  color: #ccc;
}

/* Responsividade */
@media (max-width: 1024px) {
  .container {
    width: 90%; 
    margin: 20px auto;
  }
  body {
    background: linear-gradient(90deg, #fff7ad, #ffa9f9); 
  }

  h1 {
    font-size: 2em; 
  }

  li {
    flex-direction: column; 
    align-items: flex-start; 
  }

  button {
    width: 100%; 
    margin-left: 0; 
    margin-top: 5px; 
  }

  input[type="text"] {
    width: 95%;
    margin-right: 0; 
    margin-bottom: 10px; 
  }
}


@media (max-width: 600px) {
  body {
    background: linear-gradient(90deg, #fff7ad, #ffa9f9); 
  }

  h1 {
    font-size: 1.5em; 
  }

  li {
    padding: 10px; 
  }

  button {
    padding: 6px 10px; 
  }

  input[type="text"] {
    padding: 8px; 
  }
}
